@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&family=Raleway:wght@400;500;700&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
  background: #fff;
  font-family: 'Open Sans', sans-serif;
}

a {
  color: #f82249;
  text-decoration: none;
  transition: 0.5s;
}

a:hover, a:active, a:focus {
  outline: none;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  overflow-wrap: break-word;
}


/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/

.header {
  display: flex;
  align-items: center;
  position: fixed;
  height: 80px;
  left: 0;
  top: 0;
  right: 0;
  transition: all 0.3s ease-in-out;
  z-index: 997;
}

.header.header-scrolled {
  background-color: rgba(0, 0, 0);
  height: 60px;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  padding: 0 0.75rem;
  margin: 0 auto;
}

.header .logo h1 {
  font-size: 16px;
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.header .logo h1 span {
  color: rgb(255, 255, 255);
}





/*--------------------------------------------------------------
# Navlinks
--------------------------------------------------------------*/
.navbar {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-container {
  display: block;
}

.navbar ul {
  display: flex;
}

.navbar ul li {
  padding: 16px;
}

.navbar ul li a {
  color: #fff;
}


.navbar ul li {
  list-style-type: none;
}


/*--------------------------------------------------------------
# Mobile nav toggle
--------------------------------------------------------------*/

.navigation-burger {
  display: none;
}

@media (max-width: 991px) {
  .navigation-burger {
    display: block;
    position: relative;
    display: flex;
    width: 30px;
    height: 16px;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
  }

  .nav-container {
    display: none;
  }

  .active.nav-container {
    display: block;
    background-color: #000;
    position: fixed;
    width: 100vw;
    height: 35vh;
    top: calc(0% + 60px);
    left: 0;
    right: 0;
  }

  .nav-container ul {
    background-color: transparent;
    flex-direction: column;
  }

  .navigation-burger.is-clicked {
    height: 23px;
  }
  
  .navigation-burger.is-clicked .navigation-burger-el {
    transition: transform .4s;
  
  }
  
  .navigation-burger.is-clicked .navigation-burger-el--top {
    transform: rotate(45deg);
  }
  
  .navigation-burger.is-clicked .navigation-burger-el--bottom {
    transform: rotate(-45deg);
  }
  
  .navigation-burger-el {
    display: block;
    width: 100%;
    height: 2px;
    background-color: #fff;
    transition: transform .6s, opacity .2s .2s;
  }
  
  .navigation-burger-el--top {
    transform-origin: left top;
  }
  
  .navigation-burger-el--bottom {
    transform-origin: left bottom;
  }
}


/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  height: 100vh;
  background: url(../img/hero-bg.png) top center;
  background-size: cover;
  overflow: hidden;
  position: relative;
}


#hero:before {
  content: "";
  background: rgba(6, 12, 34, 0.8);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

.container {
  width: 100%;
  padding-right: 12px;
  padding-left: 12px;
  margin-right: auto;
  margin-left: auto;
}

#hero .hero-container {
  position: absolute;
  bottom: 0;
  left: 0;
  top: 90px;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 15px;
}

#hero h1 {
  color: #fff;
  font-size: 56px;
  text-transform: uppercase;
  margin-bottom: 1rem;
  text-align: center;
}

#hero p {
  color: #ebebeb;
  font-size: 20px;
  margin-bottom: 1rem;
  text-align: center;
  width: 80%;
}

#hero a:hover {
  text-decoration: underline;
}

.cta {
  display: flex;
  align-items: center;
  cursor: pointer;
}



/* Mobile view font size */
@media (max-width: 991px) {
  #hero h1 {
    font-size: 34px;
    line-height: 1.125;
  }

  #hero p {
    font-size: 16px;
  }
}

#collection,
#gallery {
  padding-top: 40px;
}

/*--------------------------------------------------------------
# Latest collection title --- Title component style
--------------------------------------------------------------*/


.title {
  text-align: center;
  padding-bottom: 30px;
}

.title h2 {
  font-size: 32px;
  padding-bottom: 20px;
  position: relative;
}
.title h2::after {
  content: '';
  position: absolute;
  display: block;
  width: 80px;
  height: 3px;
  background: #f82249;
  bottom: 0;
  left: calc(50% - 40px);
}


#collection img {
  width: 100%;
  height: auto;
}

#collection .image {
  width: 75%;
  text-align: right;
}



#collection .content {
  display: flex;
  align-items: center;
  position: relative;
  padding-top: 20px;
}

#collection .quote {
  background-color: #f82249;
  position: absolute;
  width: 79%;
  height: 30%;
  bottom: 70%;
  left: 5%;
  z-index: -1;
}


#collection .collection-logo {
  position: relative;
}

#collection .collection-logo h1 {
  transform: rotate(90deg);
  position: absolute;
  left: -100px;
  line-height: 0.89;
  letter-spacing: 20px;
  text-transform: uppercase;
  font-size: 30px;
  text-align: center;
}

#collection .collection-logo h1 span {
  font-size: 12px;
  letter-spacing: 8px;
}

#collection .links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


/*--------------------------------------------------------------
# container Media Queries
--------------------------------------------------------------*/

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}


@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

@media (min-width: 1440px) {
  .container {
    max-width: 1320px;
  }
}
